.nav-item{
    margin-right: 300px;
}
.container-fluid{
    background-color: rgb(233, 233, 233);
}
.home{
    text-decoration: none;
    color: black;
}
.about{
    text-decoration: none;
    color: black;
}
.contact{
    text-decoration: none;
    color: black;
}




















